@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-primary: #E67E22;    /* Primary Orange */
  --color-brand-secondary: #F6B26B;  /* Soft Orange */
  --color-brand-bg-light: #F6F1EB;   /* Warm Off White */
  --color-brand-bg-dark: #1E140A;    /* Dark Brown */
}

/* Base Styles */
body {
  @apply bg-brand-bg-light text-slate-900 dark:bg-brand-bg-dark dark:text-zinc-50 transition-colors duration-300;
  font-family: "Google Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: #dbeafe;
  color: #1e3a8a;
}